body{
    background-color: white;
}

.container{
    padding-top: 100px;
    padding-left: 20px;
}

.myTable{
    border-style: solid;
    border-width: 1px;
    font-size: 70px;
    color: coral;
}

.myTable td{
    padding-left: 30px;
}